.cdLogs{
  display: inline-block;
    width: 45%;
    float: right;
    position: relative;
    top: 225px;
}

.started {
  display: inline-block;
  width: 40%;
  height: auto;
}

.paused {
  display: inline-block;
  width: 40%;
  height: auto;
}
